#movieList li {
	margin:5px 0;
	width:165px;
	padding: 5px;
	border-radius: 10px;
}

#movieList li:hover {
	background: #eee;
}

#similarMovies #movieList li:nth-child(n+5) {
	display: none;
}

#actorImages li:nth-child(n+7) {
	display: none;
}