{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} Homepage{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 'bundles/mylibfront/css/*' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <p>Hello</p>
{% endblock %}