{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} Films{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 'bundles/mylibfront/css/*' %}
	    <link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

{% block body %}

	<div id="container">
		{% include ':front:list.html.twig' %}
	</div>

{% endblock %}